body {
    background-color: #000000;
    /* background-image: url('/bg_all.gif');
    height: 100vh;
    background-size: cover; */
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 48px;
    font-family: 'DIN Alternate', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'DIN Alternate', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #01BAEF;
}

